<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
    .btn{
        margin:10px;
        background-color:red;
        color: white;
        text-align: center;
        box-shadow: 5px 5px 10px;
        font-size: 25px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
    .heading{
        color:blue;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 35px;
    }
        </style>
</head>
<body>
    <h1 class="heading">IIT Indore Academic Portal</h1>
</br></br></br></br></br>
<center>
    <form action="/admin" method="get">
        <button class="btn" type="submit">Login for Teachers</button>
    </form>
</br></br>
    <form action="/student" method="get">
        <button class="btn" type="submit">Login for Students</button>
    </form>
</center> 
</body>
</html>